
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    cursor:cell;
}
.body{
    width: 100%;
    height: 100vh;
    background: rgb(62,24,19);
background: radial-gradient(circle,rgb(64, 18, 11) 0%, rgb(51, 14, 10)9%, rgb(39, 11, 7) 18%, rgba(20,10,7,1) 35%, rgba(0,0,0,1) 97%);
}
.nav_bar{
    width: 100%;
    height: 119px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
}
.logo_div{
    width: 370px;
    height: 119px;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 193px;
    height: 39px;
}
.content{
    width: 800px;
    height: 119px;
    /* background-color: rgb(4, 3, 3); */
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.buttons{
    text-decoration: none;
    border: none; 
    color: aliceblue;
    font-size: 18px;
    background-color: transparent;
  
}
.buttons:hover{
    color: rgb(240,80,36);
    transition: ease 0.3s;
}
._button_div{
    width: 100px;
    height: 35px;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.get_div{
    width: 400px;
    height: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(213, 208, 208); */

}
.Quote{
    border-radius: 20px;
    width: 150px;
    height: 48px;
    font-size: 16px;
    background-color:transparent;
    color: aliceblue;
    font-weight: 400;
    border-color: aliceblue;
    outline-color: aliceblue;
}
.Quote:hover{
    color:rgb(240,80,36);
    border-color:rgb(240,80,36);
    transition: ease 0.3s;
}
.first_content{
    width: 100%;
    height: 48px;
    background-color:transparent;
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'inter', sans-serif;
    font-weight: 400;
}


.first_content_1{
    width: 100%;
    height: 90px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    font-weight: 700;
    color: aliceblue;
    /* font-stretch: expanded; */
}
.first_content_2{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first_content_2_adj{
    width: 40%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Destiny{ 
    font-size: 72px;
    font-weight: 700;
    color: aliceblue;
    font-family: 'inter'sans-serif;

}
.Designs_word{
    font-size: 72px;
    font-weight: 700;
    color: rgb(240,87,66);
}
.first_content_3{
    width: 100%;
    height: 70px;
    color: rgb(130,127,132);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    /* background-color: aqua; */
}
.quote_btn_2{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space_div{
    width: 100%;
    height: 120px;
    background-color: transparent;
}
.second_body{
    width: 100%;
    height: 800px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second_body_adj{
    width: 80%;
    height: 570px;
    background-color: rgb(12,12,14);
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #101017;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: 14px;
}
.body_content{
    width: 400px;
    height: 400px;
    /* background-color: blue; */
   
}
.body_Img{
    width: 400px;
    height: 400px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.resize_img{
    width: 421px;
    height: 346px;
}
.what_div{
    width: 200px;
    height: 48px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: 700;
    color: aliceblue;
   
}
.space_div_for_Body{
    width: 100%;
    height: 50px;
    /* background-color: antiquewhite; */
}
.are_div{
    width: 100px;
    height: 48px;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    font-size: 45px;
    color: rgb(240,87,66);
    font-weight: 700;
    
}
.what_and_are{
    width: 100%;
    height: 70px;
    /* background-color: darkred; */
    display: flex;
    flex-direction: row;
}
.short_note_2_div{
    width: 100%;
    height: 170px;
    /* background-color: darkslateblue; */
    color: rgb(130,127,132);;
}

.know_more_btn{
    width: 100%;
    /* background-color: fuchsia; */
}
.third_Body{
    width: 100%;
    height: 100vh;
    background-color:black;
    display: flex;justify-content: center;
    align-items: center;

}
.third_body_adj{
    width: 80%;
    height: 600px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}
.third_img{
    width:  350px;
    height: 389px;
    /* background-color: blueviolet; */

}
.third_img_class{
    width: 547px;
    height: 389;
}
.third_notes{
    width: 400px;
    height: 350px;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
}
.we_bulid_digits_{
    width: 200px;
    height: 70px;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
}
.we{
    width: 200px;
    height: 40px;
    /* background-color: yellow; */
    font-size: 30px;
    color: aliceblue;
    font-weight: 400;
}
.build{
    width: 400px;
    height: 40px;
    /* background-color: violet; */
    font-size: 35px;
    font-weight: 700;
    color: aliceblue;

}
.digit_div{
width: 400px;
height: 40px;
/* background-color: aliceblue; */
font-size: 35px;
color: rgb(240,87,66);
font-weight: 700;
align-items: start;
}
.third_short_note{
    width: 400px;
    height: 120px;
    /* background-color: springgreen; */
    display: flex;
    align-items: end;
    color: rgb(130,127,132); 
}
.third_button_get{
    width: 300px;
    height: 70px;
    /* background-color:yellowgreen ; */
    display: flex;
    align-items: center;
}
.card_div{
    width: 100%;
    height: 70px;
    background-color:black;
    display: flex;
    justify-content: center;align-items: center;

}
.card_what{
    width: 170px;
    height: 60px;
    /* background-color: aquamarine; */
    font-size: 38px;
    font-weight: 700;
    color: aliceblue;
    display: flex;
    align-items: center;

}
.card_do{
    width: 100px;
    height: 60px;
    font-size: 38px;
    color: rgb(240,87,66);
   font-weight: 700;
   /* background-color: rgb(0, 29, 20); */
   display: flex;
   align-items: center;
}
.card_secnd_div{
    width: 100%;
    height: 500px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_secnd_div_adj{
    width: 80%;
    height: 400px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.cards{
    width: 340px;
    height: 440px;
    background-color:rgb(12,12,14);
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #141415;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 14px;
}
.card_img{
    width: 333px;
    height: 250px;
    display: flex;
    align-items: center;
    /* background-color: rgb(27, 206, 14); */
    justify-content: center;

}
.card_img_size{
    width: 306px;
    height: 229px;
}
.card_heading{
    width: 333px;
    height: 50px;
    /* background-color: darkgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_heading_adj{
    width: 302px;
    height: 50px;
    /* background-color: yellow; */
}
.heading_texts{
    font-size: 30px;
    font-weight: 700;
    color: aliceblue;
    
}
.card_content{
    width: 333px;
    height: 80px;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_content_adj{
    width: 302px;
    height: 80px;
    display: flex;
    align-items: center;
    /* background-color: springgreen; */
}
.card_content_text{
    font-size: 16px;
    font-weight: 400;
    color: rgb(130,127,132); ;
}
.card_btn{
    width: 333px;
    height: 56px;
    /* background-color: darkgoldenrod; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_btn_adj{
    width: 302px;
    height: 56px;
    /* background-color: violet; */
    display: flex;
    align-items: center;

}
.card_btn_dec{
    border: none;
    font-weight: 500;
    background-color: #0C0C0E;
    color: aliceblue;

}
.card_last_text{
    width: 100%;
    height: 170px;
    background-color: rgb(0, 0, 0);
    display: flex;
   
    justify-content: center;
}
.view_More_btn{
    border: none;
    background-color: #0C0C0E;
    color: aliceblue;
    height: 25px;
}
.view_More_btn:hover{
    color:rgb(240,87,66); 
    transition: ease 0.3s;
}
.interset_text{
    color: aliceblue;
    font-size: 18px;
}
.card_our{
   width: 90px;
    /* background-color: yellow; */
    height: 60px;
    /* background-color: aquamarine; */
    font-size: 38px;
    font-weight: 700;
    color: aliceblue;
    display: flex;
    align-items: center


}
.card_test{ 
    font-size: 38px;
    font-weight: 700;
    color: rgb(240,87,66);
    

}
.second_cards{
    width: 343px;
    height: 323px;
    background-color:rgb(12,12,14);
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #141415;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 14px;

}
.round_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.second_cards_notes{
    width: 333px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellowgreen; */
    font-size: 18px;
    font-weight: 400;
    color: rgb(98,98,99);
    text-align: center;
}
.round_img_div{
    width: 336px;
    height: 60px;
    /* background-color: violet; */
    display: flex;
    flex-direction: row;
}
.round_img_adj{
    width: 70px;
    height: 60px;
    /* background-color: turquoise; */
    display: flex;
    justify-content: center;
}
.second_cars_names{
    width: 260px;
    height: 60px;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
}
.name_card{
    width: 260px;
    height: 30px;
    /* background-color: teal; */
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: rgb(98,98,99);

}
.position_card{
    width: 260px;
    height: 30px;
    /* background-color: springgreen; */
    font-size: 14px;
    font-weight: 400;
    color: rgb(240, 87, 66);
}
.card4_heading_text{
    font-size: 20px;
    color: aliceblue;
    font-weight: 600;
}
.card5_img{
    width: 333px;
    height: 340px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card5_img_size{
    width: 333px;
    height: 340px;
}
.card5_heading_text{
    font-size: 30px;
    color: aliceblue;
    font-weight: 700;

}
.card5_heading_adj{
    width: 270px;
    height: 40px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}
.card5_btn_adj{
    width: 250px;
    height: 30px;
    /* background-color: violet; */
}
.card5_btn_dec{
    width: 120px;
    height: 30px;
    background-color: #0C0C0E;
    color: aliceblue;
    border: none;
    font-size: 20px;
}
.card5_secnd_div_adj{
    width: 80%;
    height: 600px;
    background-color: rgb(12,12,14);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #141415;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 14px;
    

}
.card5{
    width: 340px;
    height: 440px;
    background-color:rgb(12,12,14);
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #141415;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.96);
-webkit-box-shadow: 0px 2px 0px 0px rgba(253, 244, 244, 0.96);
-moz-box-shadow: -2px 10px 25px -2px rgba(132, 123, 123, 0.96);
    border-radius: 14px;

}
.carvosel{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.client_say{
    width: 300px;
    height: 60px;
    /* background-color: violet; */
}
.the_heading_adj{
    width: 40%;
    height: 60px;
    /* background-color: teal; */
    display: flex;
   flex-direction: row;
}
.red_word{
    width: 300px;
    height: 60px;
    /* background-color: violet; */

}
.client_say_text{
    width: 90px;
    /* background-color: yellow; */
    height: 60px;
    /* background-color: aquamarine; */
    font-size: 38px;
    font-weight: 700;
    color: aliceblue;
    

}
.about_us_text{
    font-size: 38px;
    font-weight: 700;
    color: rgb(240,87,66);
    
}
.carvosel_slide{
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items:center ;
}
.carvosel_slide_adj{
    width: 65%;
    height: 200px;
    /* background-color: yellowgreen;
 */
}
.img_of_carvosel{
    width: 100%;
    height: 200px;
}
.last_boxs{
    width: 100%;
    height: 600px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.last_box_adj{
    width: 80%;
    height: 500px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.f1st_box{
    width: 375px;
    height: 400px;
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.small_img{
    width: 350px;
    height: 60px;
}
.white_text{
    font-size: 27px;
    color: aliceblue;
    font-weight: 700;
}
.red_text{
    font-size: 27px;
    color: rgb(190, 64, 15);
    font-weight: 700;    
}
.sub_box{
    width: 375px;
    height: 120px;
   
    background-color:rgb(12,12,14);
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #141415;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 14px;
   
}.comp_and_wrok{
    width: 375px;
    height: 40px;
    /* background-color: rgb(135, 0, 0); */
    display: flex;
    justify-content: center;

}
.small_div{
    width: 375px;
    height: 40px;
    display: flex;
    justify-content: center;
}
.tech_div{
    width: 375px;
    height: 250px;
    background-color:rgb(12,12,14);
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #141415;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 14px;
}
.white2_text{
    font-size: 24px;
    color: aliceblue;
    font-weight: 700;
}
.red2_text{
    font-size: 24px;
    color: rgb(190, 64, 15);
    font-weight: 700;    
}
.tech_text_div{
    width: 375px;
    height: 40px;
    display: flex;
    justify-content: center;
   
}
.img_size_tech{
    width: 50px;
    height: 50px;
    border-radius: 14px;
}
.tech_div_imgs{
    width: 375px;
    height: 190px;
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    
    
  
 
    
}
.div{
    width: 60px;
    height: 60px;
    /* background-color: yellowgreen; */
    
}
.tech_div_first_row{
    width: 375px;
    height: 70px;
    /* background-color: rgb(64, 18, 11); */
    display: flex;
    justify-content: space-around;
}
.tech_div_adj_secnd_row{
    width: 375px;
    height: 70px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;

}
.s2nd_box{
    width: 340px;
    height: 400px;
    /* background-color: tomato; */
    display: flex;
   flex-direction: column;
   align-items: center;
   background-color:rgb(12,12,14);
   border-style: solid;
   border-width: 5px 0px 0px 0px;
   border-color: #141415;
   transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   border-radius: 14px;
}
.s2box_heding{
    width: 320px;
    height: 120px;
    /* background-color: violet; */
    
  
}
.white3_text{
    font-size: 24px;
    color: aliceblue;
    font-weight: 700;
}
.red3_text{
    font-size: 24px;
    color: rgb(190, 64, 15);
    font-weight: 700;    
}
.s2nd_div_content{
    width: 320px;
    height: 120px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(98,98,99); ;
    
}
.heading_and_content_s2nd{
    width: 320px;
    height: 360px;
    /* background-color: springgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t3rd_box{
    width: 375px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(12,12,14);
   border-style: solid;
   border-width: 5px 0px 0px 0px;
   border-color: #141415;
   transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   border-radius: 14px;

}
.connect_now_divs{
    width: 320px;
    height: 60px;
    /* background-color: rgb(111, 255, 0); */
    display: flex;
    align-items: center;
   
    

}
.buttons_divs{
    width: 340px;
    height: 150px;
    /* background-color: violet; */
}
.first_row_buttons{
    width: 340px;
    height: 40px;
    /* background-color: turquoise; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btns{
    width: 98px;
    height: 32px;
   
}
.all_btns_edit{
    width: 98px;
    height: 32px;
    border-radius: 14px;
    background-color: rgb(41,41,41);
    color: rgb(78, 95, 101);
    border: none;
   border-style: solid;
   border-width: 2px 0px 0px 0px;
   border-color: rgb(78, 95, 101);
   transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   border-radius: 14px;
    


}
.last-box-content_text{
    width: 340px;
    height: 80px;
    /* background-color: tomato; */
}
.last_box_content_box_text{
    width: 340px;
    height: 50px;
    color: aliceblue;
    /* background-color: teal; */
}
.footer_divs{
    width: 100%;
    height: 500px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_divs_adj{
    width: 90%;
    height: 400px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
}
.footer_content_box_iden{
    width: 300px;
    height: 300px;
    background-color: rgb(0, 0, 0);
   

}
.logo2_div{
    width: 370px;
    height: 119px;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer_frist_box_text{
    font-size: 20px;
    color:  rgb(136,136,136);
}
.pages_and_lists{
    width: 260px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.pages_only{
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: tomato; */
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
}


.btns_pages_list{
    border: none;
    background-color: #000000;
    color: rgb(136,136,136);
}
.btns_pages_list:hover{
    color: rgb(190, 64, 15);
    transition: ease 0.3s;
}
.hr{
    width: 100%;
    height: 5px;
    background-color: #000000;
    display: flex;
    justify-content: center;
}
.hr_adj{
    width: 90%;
    height: 2px;
    background-color: rgb(60, 59, 59);;
}
.sign_div{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #000000;
}
.sign_div_adj{
    width: 85%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;

}
.Y2024{
    font-size: 18px;
    color:  rgb(136,136,136);;

}
.btns2_pages_list{
    border: none;
    background-color: #000000;
    color: rgb(136,136,136);
    font-size: 18px;

}
.btns2_pages_list:hover{
    color:yellow ;
}











/* media */
 .menu_bar{
    display:none;
        width: 150px;
        height: 30px;
        background-color: azure;
    
}
.media_div_con3{
    display: none;
}
.extra_div_short{
    display: none;
    width: 400px;
    height: 200px;
}
