@media (max-width:500px){

    .content{
        /* display: none; */
    }
    ._button_div{
        display: none;
    }
    .nav_bar{
        display: flex;
        flex-direction: column;
        height: 50px;
    }
    .get_div{
        display: flex;
        justify-content: space-around;
        height: 90px;
        margin-top: 20px;
        /* background-color: rgb(37, 20, 94); */
    }
    .logo_div{
        height: 200px;
        width: 100%;
       
    }
    .logo{
        width: 280px;
        height:50px ;
    }
    .Quote{
        width: 170px;
        height: 40px;
    }
    .menu_bar{
        display:flex;
       
    }
    .space_div{
        display: none;
       
        background-color: antiquewhite;
    }
    .first_content_1{
        height: 50px;
        /* background-color: rgb(0, 0, 0); */
        font-size: 20px;

    }
    .Destiny{
        font-size: 35px;
    }
    .first_content{
        margin-top: 90px;
      
        /* background-color: rgb(62, 8, 111); */
       
    }
    .craf{
        font-size: 25px;
    }
    .first_content_2{
        width: 100%;
        height: 50px;
        /* background-color: rgb(0, 0, 0); */
        
    }
    .Designs_word{
        font-size: 35px;
    }
.first_content_2_adj{
    width:300px;
    height: 50px;
}
.first_content_3{
    
    display: none;
}
/* .short_note{
    font-size:20px;
} */
    .media_div_con3{
        display: flex;
        justify-content: center;
        color: rgb(130,127,132);
    }
    .body_content{
        display: flex;
        flex-direction: column;
       height: 200px;
        width: 200px;
        font-size: 14px;
        margin-bottom: 120px;
    }
    .second_body_adj{
        display: flex;
        flex-direction: column;

    }
    .second_body{
        height: 100vh;
    }
   
    .what_div{
        font-size: 26px;
    }
    .are_div{
        font-size: 28px;
    }
    .short_note_2_div{
        margin-bottom: 20px;
    }
    .body_Img{
        width: 300px;
        height: 300px;
    }
    .resize_img{
        width: 400px;
        height: 280px;
    }
    .know_more_btn{
        margin-top: 50px;
    }
    .third_body_adj{
        display: flex;
        flex-direction: column;
    }
    .third_img_class{
        width: 300px;
        height: 200px;
    }
    .third_img{
        width: 340px;
        height: 220px;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
    }
    .third_notes{
        width: 300px;
        height: 300px;
        /* background-color: rgb(163, 125, 2); */
        display: flex;
        justify-content: center;
       
    }
    .we{
        display: flex;
        justify-content: center;
        font-size: 26px;
        width: 300px;
    }
    .build{
        display: flex;
        width: 300px;
        justify-content: center;
        font-size: 26px;
    }
    .digit_div{
        display: flex;
        width: 300px;
        justify-content: center;
        font-size: 26px;
    }
    .third_button_get{
        width: 300px;
        display: flex;
        justify-content: center;
    }
    .extra_div_short{
        display: flex;
        justify-content: center;
        width: 320px;
        /* background-color: aqua; */
        color:  rgb(130,127,132);
    }
    .third_short_note{
        display:none;
        
    }
    .card_secnd_div_adj{
        display: flex;
        flex-direction: column;
        height: 119vh;
        /* margin-top: 70px; */
        gap: 20px;
        /* background-color: rgb(238, 238, 10); */
    }
    .card_secnd_div{
        height: 126vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: rgb(197, 11, 11); */
       
    }
    .cards{
        width: 291px;
        height: 270px;
        
    }
    .card_img_size{
        width: 200px;
        padding-right: 40px;
        height: 100px;
    }
    .card_content_text{
        font-size: 15px;
    }
    .card_img{
    
    height: 120px;
    display: flex;
    justify-content:center ;
    align-items:center ;
    }
    .card_heading{
       height: 20px;
       /* background-color: aqua; */
    }
    .heading_texts{
        font-size: 22px;
    }
    .card_heading_adj{
        width: 200px;
        display: flex;
        align-items: center;
    }
    .card_content{
        height: 70px;
        /* background-color: blueviolet; */
    }
    .card_content_adj{
        width: 200px;
    }
    .card_content_text{
        font-size: 12px;
    }
    .card_btn{
        height: 20px;
    }
    .card_btn_adj{
        width: 200px;
    }
   .card_last_text{
    font-size: 14px;
   }
   .interset_text{
    font-size: 14px;
   }
   .card_test{
    font-size: 30px;
   }
   .card_our{
    width: 70px;
   }
   .second_cards{
    width: 270px;
   }
   .second_cards_notes{
    font-size: 16px;
    width: 260px;
    /* background-color: yellow; */
    
   }
   .card_secnd_div{
    height: 167vh;
   }
   .card_secnd_div_adj{
    margin-bottom: 120px;
   }
   .card4_heading_text{
    font-size: 14px;
   }
   .card5_secnd_div_adj{
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 160vh;
    /* margin-top: 70px; */
    gap: 20px;
    /* background-color: yellow; */

   }
  .card5_img_size{
    width: 200px;
    height: 200px;
  }
  .card5_img{
    width: 250px;
height: 200px; 
margin-left: 30px;
}
.card5{
    width: 300px;
    height: 600px;
    /* background-color: brown; */
      
}
.card5_heading_adj{
    width: 280px;
    height: 40px;
    margin-top: 20px;
    
    /* background-color: turquoise; */
}
.card5_btn_adj{
    width: 290px;
  
    margin-top: 60px;
    /* background-color: violet; */

}
.card5_heading_text{
    font-size: 28px;
}
.the_heading_adj{
    width: 300px;
    height: 40px;
    /* background-color: yellow; */
    
   

}
.client_say_text{
    font-size: 23px;
}
.about_us_text{
    font-size: 23px;
}
.red_word{
    width: 230px;
    height: 40px;
    /* background-color: aqua; */
}
.client_say{
    width: 350px;
    height: 40px;
    /* background-color: blue; */
}
.img_of_carvosel{
    filter: contrast(100%);
    image-resolution: from-image;
image-resolution: 300dpi;
image-resolution: from-image 300dpi;
image-resolution: 300dpi snap;
    
}
.last_boxs{
    height: 180vh;
}
.last_box_adj{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgb(0, 0, 0);
    height: 170vh;
    
}
.f1st_box{
    width: 374px;
}
.sub_box{
    width: 320px;
    margin-left: 20px;
    


}
.small_img{
    width: 240px;
    height: 70px;
}
.small_div{
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    
}
.comp_and_wrok{
    width: 300px;
    
    padding: 0px 5px 0px 30px;
    
}
.tech_div{
    width: 320px;
    margin-left: 20px;
    margin-top: 20px;
}
.tech_text_div{
    width: 320px;
    font-size: 25px;
    padding: 0px 2px 0px 5px;
}
.white2_text{
    font-size: 20px;
}
.red2_text{
    font-size: 20px;

}
.tech_div_imgs{
    width: 300px;
}
.img_size_tech{
    width: 50px;
    height: 50px;
}
.div{
    width: 30px;
    height: 30px; 

}
.tech_div_first_row{
    width: 320px;
    height: 30px;
}
.tech_div_adj_secnd_row{
    width: 320px;
}
.s2nd_box{
    width: 320px;
    margin-right: 14px;
    margin-top: 20px;
}
.s2box_heding{
    width: 300px;

}
.s2nd_div_content{
    width: 300px;
}
.t3rd_box{
    width: 320px;
    margin-right: 14px;
    margin-top: 20px;
}
.connect_now_divs{
    width: 300px;
}
.buttons_divs{
    width: 300px;
    height: 120px;
    /* background-color: violet; */
}
.first_row_buttons{
    width: 300px;
}
.last-box-content_text{
    width: 300px;
}
.last_box_content_box_text{
    width: 300px;
    /* background-color: blueviolet; */
}
.footer_divs{
    height: 210vh;
}
.footer_divs_adj{
    display: flex;flex-direction: column;
    margin-left: 20px;
    width: 320px;
    height: 195vh;
    /* background-color: blue; */
}
.pages_only{
    font-size: 30px;
}
.logo2_div{
    width: 280px;
    height: 50px;
    /* background-color: wheat; */
}
.footer_content_box_iden{
    width: 300px;
    margin-right: 60px;
}
.footer_frist_box_text{
    font-size: 18px;
}
.Y2024{
    font-size: 12px;
}
.btns2_pages_list{
    font-size: 12px;
}

}